:root {
    --txt: rgba(123,157,182,255); 
}

html, body {
    background-color: rgba(221,235,246,0.5);
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Lato', Arial;
    color: var(--txt)
}

* {
    box-sizing: border-box;
}

p,h1 {
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
}


.bg-body {
    position: relative;
    top: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
}

.bg-image {
    background-image: url(./assets/background-image.jpg);
    width: 40%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

.logo {
    width: 15%;
    height: auto;
}

.right-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.top-text{
    font-size: 2rem;
    padding: 2rem;
}

p:last-child{
    padding-top: 4rem;
}

.form-container, h1 {
    padding-bottom: 1rem;
}

.form-container {
    width: 100%;
    padding: 2rem;
    box-shadow: 0px 4px 8px -4px;
}

form{
    position: relative;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
}

input,label {
    display: flex;
    flex-direction: column;
}

input, textarea {
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--txt);
}

input:focus, textarea:focus {
    background-color: rgb(209 226 236);
    outline: none;
    border: 2px solid var(--txt);
    box-shadow: 0 0 2px var(--txt);
}
